* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}

body {
  background-color: rgb(203, 196, 242);
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  font-size: 0;
  width: auto;
  
}

.box {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 1px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.box1{
  padding: 0.5%;
  width:13%;
  background-color:  #564b96;
  box-shadow: 0 0 0 2px rgb(119, 102, 214,0.1);
}



.box2{
  height: 100vh;
  width:87%;
}

sidebar{
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: space-between;
}

ul{
  padding: 0px;
}

li{
  padding: 3%;
  font-size: 50px;
  text-align: left;
  list-style: none;
  transition: transform 0.3s ease;
  transform-origin: left center; 
}

li:hover {
  transform: scale(1.2);
}
a{
  text-decoration: none;
  color: #ebe6e6;
  font-size: 20px;
}

.clickable-top{
  text-align: center;
  margin-bottom:13%;
  transform-origin: initial;
  font-size: 30px;
}

.in{
  box-sizing: border-box;
  height: 44vh;
  width: 47%;
  padding: 5%;
  margin: 1.5%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img{
  margin: 0px;
}


.row1{ 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.row2{ 
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.news{
  width: 100%;

}



