* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

body{
    background-color: #564b96;
}

.container{
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 500px;
    width: 60%;
    padding: 5%;
    margin-top: 70px;
    box-shadow: 0 0 10px rgb(147, 117, 199,0.5);
}

.box1{
    background-color: #7766d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.imageholder {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

img {
    height: 100%;
    width: 100%;
}

a{
    font-size: medium;
    color: #dfdcee;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #c4baf9;
}

label{
    font-size: large;
}

h1{
    text-align: center; 
    font-size: xxx-large;
}

button{
    margin-top: 4%;
    background-color: #958bce;
    color: #ffffff;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #7766d5;
}

a{
    padding-left: 3px;
}   

input{
    width: 95%;
    height: 4vh;
    margin: 3%;
    margin-left: 0px;
    margin-top: 1%;
}


