*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xxx-large;
}
body{
    background-color: #ffffff;
}

.container {
    font-size: 0;
}

.box {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 97vh;
    width: 50%;
    margin:auto;
    padding: 50px;
}

.box1{
    padding-top: 6%;
}


.imageholder{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img{
    height: 100%;
    width: 100%;
}

.form{
    background-color: bisque;
    height: 50px;
    width: 50%;
    margin: auto;
}

#register{
    font-size: 14px;
}