<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script/home.js"></script>
    <title>Welcome!</title>
</head>
<body>

<div class="container">
  
  <div class="box box1">
    <sidebar>
      <ul>
        <li class="clickable-top"><a href="#" >User Stuff</a></li>
        <li><a href="portfolio.html">My Portfolio</a></li>
        <li> <a href="profile.html">My Profile</a></li>
        <li><a href="trending.html">Trending</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#" style="width: 40px;">Customer Addressal</a></li>
        <li><a href="login.html">Log Out</a></li>
      </ul>  
    </sidebar>
  </div>

    <div class="box box2">
      <main>
        <div class="container container 2">
          <div class="row1">
            <div class="box in">
              <img src="img/3.png" alt="news" class="news">
            </div>
            <div class="box in ">Today's Market</div>
          </div>
          <div class="row2">
            <div class="box in">Hot Stocks</div>
            <div class="box in">Watchlist</div>
          </div>
          
        </div>
      </main>
    </div>

</div>
</body>
</html>