<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script/home.js"></script>
    <title>Welcome!</title>
</head>
<body>

<div class="container">
  
  <div class="box box1">
    <sidebar>
      <a style = "margin:15%" href="#" class="clickable-title">User Stuff</a>
      <a href="#" class="clickable-title">My Portfolio</a>
      <a href="#" class="clickable-title">My Profile</a>
      <a href="#" class="clickable-title">Trending</a>
      <a href="#" class="clickable-title">Settings</a>
      <a href="#" class="clickable-title">Customer Addressal</a>
      <a href="#" class="clickable-title">Log Out</a>
    </sidebar>
  </div>

    <div class="box box2">
      <main>
        <div class="container container 2">
          <div class="box in in1">Latest News</div>
          <div class="box in in2">Today's Market</div>
          <div class="box in in3">Hot Stocks</div>
          <div class="box in in4">Watchlist</div>
        </div>
      </main>
    </div>

</div>
</body>
</html>