<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script type="text/javascript" src="script/jquery-3.7.1.js"></script>
    <script type="text/javascript" src= "script/script.js"></script>
    <title> Log-in </title>
</head>
    <body>
        <div class="container">
            
            <div class="box box1">
            
                <div class="imageholder">
                    <img id="commodity">
                </div>
            
                <div class="text"><a id="register" href="/register">Create an account</a></div>
            
            </div>

            <div class="box">
                
                <h1 style="text-align: left;">Log-In</h1>    
                <div class="form"></div>
            
            </div>
          
        </div>
    </body>
</html>