<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script type="text/javascript" src="script/jquery-3.7.1.js"></script>
    <script type="text/javascript" src= "script/script.js"></script>
    <title> <Log-in></Log-in> </title>
</head>
    <body>
        <div class="main">
            <div class="photo">
                <img src="img/Commodity.png" alt="Commodity">
            </div>
        </div>
    </body>
</html>