<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script/login.js"></script>
    <title>Sign-Up</title>
</head>
<body>
    <div class="container">
        <div class="box box1">
            <div class="imageholder">
                <img id="commodity" src="image.jpg" alt="Commodity">
            </div>
            <div class="text">Already stonks?<a id="login" href="/login.html" style="padding-left: 3px;">Log in.</a></div>
        </div>
        <div class="box box2">
            <h1 style="text-align: left; font-size: xxx-large;">Welcome Aboard!</h1>
            <div class="form">
                <div id="form-message"></div>
                <form id="login-form">
                    <div class="input-field">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" required>
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label><br>
                        <input type="password" id="password" required>
                    </div>
                    <div class="input-field">
                        <label for="email">Confirm Password</label><br>
                        <input type="email" id="email" required>
                    </div>
                    <div class="button-field">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>